<div id="chart"></div>

<% content_for :bottom do %>
<script type="text/javascript">
google.load('visualization', '1.0', {'packages':['corechart']});
google.setOnLoadCallback(drawChart);
function drawChart() {

  // Create the data table.
  var data = google.visualization.arrayToDataTable(<%= @readings.to_json.html_safe %>);
  // var data = google.visualization.arrayToDataTable([1,2,3]);

  // Set chart options
  var options = {'title':'Electricity usage',
                 'width':500,
                 'height':300};

  // Instantiate and draw our chart, passing in some options.
  var chart = new google.visualization.LineChart(document.getElementById('chart'));
  chart.draw(data, options);
}
</script>
<% end %>

<a href="https://github.com/brighterplanet/super_energy_app"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
