<p>
<h3>Instructions</h3>
<ul>
  <li>If you already have a <a href="http://sparkwire.io">sparkwire.io</a> account and have activated your utility, click the login link below</li>
  <li>If you don't have sparkwire account:</li>
  <ol>
    <li>Go to <a href="http://sparkwire.io">sparkwire.io</a> and enter your zip code</li>
    <li>Activate your PG&amp;E account, entering your utility's login information</li>
    <li>Come back here and click the log-in link below</li>
    <li>Once you've completed the OAuth signup, your utility data will be downloaded and presented on a chart</li>
  </ol>
</ul>
<strong>Note:</strong> Sparkwire presently only downloads data for PG&amp;E customers.
</p>
<p><%= link_to 'Log in with Sparkwire', user_omniauth_authorize_path(:sparkwire) %></p>

<a href="https://github.com/brighterplanet/super_energy_app"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
